.maincontainer1 {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 0 6.9%;
  margin-bottom: 3rem;
  margin-top: 5%;
}
.container1-image {
  margin: 0 6.4rem;
}
.insidecontainer-11 {
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
  max-width: 40rem;
}
.container1-heading {
  font-family: SuisseWorks, Georgia, Times, times new roman, serif,
    apple color emoji, segoe ui emoji, segoe ui symbol;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.25;
  letter-spacing: -0.05rem;
  margin-bottom: 0.9rem;
}
.conatiner1-content {
  font-size: 1.2rem;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  margin-bottom: 1.9rem;
}
.insidecontainer-11-btn {
  background-color: #1c1d1f;
  color: #fff;
  height: 4.8rem;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  padding: 0.9rem 1.2rem;

  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1rem;
}
.trustedcomp-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.trustedcomp-container > h3 {
  font-size: xx-large;
}

.section2 {
  background-color: #f7f9fa;
  width: 100%;
  height: 180px;
  padding: 2rem 0;
}
.section2-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section2-logos-div {
  margin: 1.4rem;
}
.maincontainer2 {
  margin: 0 7%;
  margin-top: 5%;
}
.conatiner1-content {
  max-width: 25rem;
  font-size: 1.4rem;
}
