/* #cont{
            margin-top: 100px;
        } */
.atFilter {
  margin: 20px 2%;
}
.select-button {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 390;
  line-height: 1.4;
  color: #6a6f73;

  background: #fff;
  border-radius: 0;
  cursor: pointer;
  display: block;
  padding: 0 2.5rem 0 0.5rem;
  height: 2.8rem;
  font-size: 1rem;

  background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png)
    no-repeat right #fff;
  -webkit-appearance: none;
  background-position-x: 134px;
  width: 168px;
}
.topic {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 650;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1rem;
  margin-bottom: 0.3rem;
}
.borderlineformainbox {
  padding-bottom: 1.2rem;
  border-bottom: 1px solid #d1d7dc;
  padding-top: 1.2rem;
  margin-left: 20px;
}
.desc {
  padding: 0;
  margin: 0;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 380;
  line-height: 1.3;
  font-size: 0.9rem;
  max-width: 37rem;
}
.course-img {
  border: 1px solid #d1d7dc;
}
.author_name,
.noofreviews,
.total_hours {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 350;
  line-height: 1.4;
  font-size: 0.8rem;
  margin: 0.3rem 0;
  color: #6a6f73;
}
.ratings_no {
  color: #b4690e;
}
.py-head {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}
.py-head-desc {
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 400;
  line-height: 1.4;
  font-size: 1rem;
  margin: 0 0 1.2rem;
  max-width: 60rem;
}
.guarantee-class {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.1rem;
  margin: 0.2rem 0 0 1rem;
}

.bestseller-class {
  background-color: #eceb98;
  color: #3d3c0a;
  display: inline-block;
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  letter-spacing: -0.02rem;
  font-size: 0.9rem;
  padding: 2px 4px;
}
.pagination {
  display: inline-block;
  margin: 50px 430px 30px;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}
.immediate-after-pagination {
  padding: 2.4rem 0;
  border-top: 1px solid #d1d7dc;
  border-bottom: 1px solid #d1d7dc;
  margin-bottom: 80px;
}
.insdie-after-pg {
  display: flex;
  align-items: center;
  font-family: sf pro text, -apple-system, BlinkMacSystemFont, Roboto, segoe ui,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 380;
  line-height: 1.4;
  font-size: 1.01rem;
  color: #1c1d1f;
}
.inside-after-pg-2 {
  display: flex;
  align-items: center;
  margin: 0 20px 0 40px;
}

.insdie-after-pg-22 {
  margin-left: 10px;
}
.container-lastin-page {
  /* border:1px solid black; */
  margin: 0 280px;
  padding: 10px;
}
.container-lastin-page > h1 {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 2rem;
}
.lastin-page-desc {
  margin-bottom: 55px;
}
.class-faqs {
  margin-left: -1px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #d1d7dc !important;
  font-size: 1.5rem;
}
.newbie11 {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
}
.collapsible {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  background-color: white;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  margin-left: -15px;
}

.active,
.collapsible:hover {
  background-color: white;
}

.collapsible:after {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  background-color: white;
  content: "\002B";
  color: black;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: white;
}
.last-lastbutton {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  width: 95%;
  background-color: white;
  padding: 10px 0;
  border: 1px solid black;
}
.class-side-filter {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1.2rem;
  border-top: 1px solid #d1d7dc;
}
.movemarginleft {
  margin-left: 11px;
}
.button-1-leftfilter {
  background-color: white;
  border: 1px solid black;
  padding: 5px 35px;
  margin-right: 10px;
  font-size: 1rem;
}
.filter-border {
  width: 250px;
  height: 1000px;
  margin-right: 30px;
}
.py-relates-to {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -0.02rem;
  font-size: 1rem;
  color: #6a6f73;
  margin-bottom: 0.8rem;
}
.py-relate-to-pack {
  color: #5624d0;
}
.nooflearners {
  margin-bottom: 40px;
}
.class-yyy {
  font-family: sf pro display, -apple-system, BlinkMacSystemFont, Roboto,
    segoe ui, Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.newbie12 {
  margin-bottom: 10px;
}
.createnewmar {
  width: 100%;
  /* height: 50px; */
  border: 1px solid #d1d7dc;
  margin-bottom: 25px;
  padding: 30px;
}
.insidecontainer-11-btn {
  background-color: #1c1d1f;
  color: #fff;
  height: 4.8rem;
  text-decoration: none;
  cursor: pointer;
  align-items: center;
  padding: 0.9rem 1.2rem;
  margin-left: 800px;
}
.grid-classthing {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 1rem;
}
.roundnumberborder {
  height: 2.2rem;
  width: 2.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #d1d7dc;
  margin-bottom: 5px;
}
.lineinside {
  display: flex;
  align-items: center;
  margin-left: 1.4rem;
  background-color: #d1d7dc;
  height: 0.18rem;
  flex-grow: 0.99;
}
.boxfortheline {
  display: flex;
  align-items: center;
}
.reducethesizeofit {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 50px;
}
.movethissplbtn {
  margin-left: 90px;
}
